@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.bg-midnight {
    background-color: #0F0F0F;
}

.auth_form-overlay {
  background-color: #181818;
  box-shadow: 
    0 0 0 1px #282828, /* crisp border */
    0 12px 40px rgba(0, 0, 0, 0.7); /* deep shadow */
}

.bg-inkstone {
    background-color: #181818;
}

.border-graphite {
    border: 2px solid #282828;
}

.nunito-sans {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.input-shape{
  border: 1px solid #383838;
  background: #1F1F1F;
  border-radius: 6px;
  outline: none;
  padding: 0.375rem 0.75rem;  
  transition: border 0.2s;
}

.input-shape:active, .input-shape:focus{
  border: 1px solid #747474;
}